{% extends "model-page.html" %}

{% block content %}
    <h3>Agendamentos</h3>
    <a href="evento/">
        <button type="button">Novo evento</button>
    </a>

    <ul>
        {% if eventos %}
            {% for evento in eventos %}
                <div style= "{% if evento.get_atrasado %}
                            color:red {% endif %}">
                    <li>{{evento.titulo}} - {{evento.get_data_evento}}
                        (<a href="evento/?id= {{ evento.id }}"> Editar</a>
                        / <a href="evento/delete/{{evento.id}}/"> Excluir</a> )
                    </li>
                </div>
            {% endfor %}
        {% else %}
            <li>Você não tem nada em sua agenda</li>
        {% endif %}
    </ul>
{% endblock %}
