<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <div align="center">
        <h1>Login</h1>
        <form action="submit" method="POST"> {% csrf_token %}
            <label>Usuário: </label>
            <input type="text" name="username">
            <label>Password: </label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </form>

        {% for message in messages %}
            <strong style=" color: red">Erro: {{ message }}</strong>
        {% endfor %}
    </div>
</body>
</html>