<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/core/CSS/style.css' %}">
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <div class="container autentication">
        <div class="bloco">
            <h1>Login</h1>
            <form action="submit" method="POST" > {% csrf_token %}
                <div class = login>
                    <label>Usuário: </label>
                    <input type="text" name="username">
                </div>
                <div class = login>
                    <label>Password: </label>
                    <input type="password" name="password">
                </div>
                <div class = login>
                    <button class="buttons dark" type="submit">Entrar</button>
                </div>
            </form>

            {% for message in messages %}
                <strong style=" color: darkred">Erro: {{ message }}</strong>
            {% endfor %}
        </div>
    </div>
</body>
</html>